body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.navbar{
  background-color: #191919 !important;
}

.navbar-collapse{
  justify-content: center;
  align-items: center;
}

.navbar-nav{
  justify-content: center;
  align-items: center;
}